<%- include('../../partials/header.ejs') %>
<div class="container">
    <br>
    <div class="card">

        <div class="card-header">
            <h2>Alteração de Artigos</h2>
        </div>

        <div class="card-body">
            <form method="POST" action="/article/update">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text">Título: </span>
                    <input name="title" type="text" value="<%= article.title %>" class="form-control" required>
                </div>
                <br>
                <div>
                    <h5>Descrição: </h5>
                    <textarea id="article" name="body">
                        <%- article.body %>
                    </textarea>
                </div>
                <br>
                <div>
                    <h5>Categoria: </h5>
                    <select name="category" class="form-control" required>
                        <option></option>
                        <% categories.forEach((c) => { %>
                            <% if (article.categoryId == c.id) { %>
                                <option value="<%=c.id%>" selected >
                                    <%= c.title %>
                                </option>
                            <% } else { %>
                                <option value="<%=c.id%>"><%= c.title %></option>
                           <% } %>
                        <% })%>
                    </select>
                </div>
                <input name="id" type="hidden" value="<%= article.id %>">
                <br>
                <button class="btn btn-success">Alterar</button>
            </form>

        </div>
    </div>

</div>
<%- include('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#article",
    })
</script>
